/* Offcanvas implementation */
#offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 13.755em;
    right: -13.755em;
    height: 100%;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: 0.15s ease;
  }
  
  #offcanvas.active {
    -webkit-transform: translate(-13.755em, 0px);
    -moz-transform: translate(-13.755em, 0px);
    -o-transform: translate(-13.755em, 0px);
    -ms-transform: translate(-13.755em, 0px);
    transform: translate(-13.755em, 0px);
  }
  .container {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: 0.15s ease;
  }
  
  .container.active {
    -webkit-transform: translate(-13.725em, 0px);
    -moz-transform: translate(-13.725em, 0px);
    -o-transform: translate(-13.725em, 0px);
    -ms-transform: translate(-13.725em, 0px);
    transform: translate(-13.725em, 0px);
  }
  
  .menu-link {
    position: absolute;
    left: -100px;
    display: block;
    background: green;
    padding: 10px;
  }