


body {
    background-color: lightgreen;
  }

  @media only screen and (min-width:901px){
   
    .hide{
        display: none;
    }
  }

  @media only screen and (min-width: 601px) and (max-width:900px) {
    body {
      background-color: rgb(231, 210, 238);
    }

    .container3{
        display: grid;
        grid-template-columns: 100% 100%;
    }
    .hide{
        display: none;
    }

    
      
}

    
  
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .container2{
        display: none;
    }
    .panel {
        float: left;
        width: 50%;
      }
      .hide-container{
          display: none;
      }
  }


  .container3{
    display: grid;
    grid-template-columns: 50% 50%;
}
  


  .box1{
height: 80px;
background: blue;
  }

  .box2{
    height: 80px;
    background: yellow; 
  }

 